<ul id="about-menu">
	<% if(active == 'about'){ %>
		<li class="active">About Extreme Cities</li>
	<% }else{ %>
		<li><a href="/about">About Extreme Cities</a></li>
	<% } %>

	<% if(active == 'hypotheses'){ %>
		<li class="active">5 Hypotheses</li>
	<% }else{ %>
		<li><a href="/hypotheses">5 Hypotheses</a></li>
	<% } %>

	<% if(active == 'building-megalopolis'){ %>
		<li class="active">Building Megalopolis</li>
	<% }else{ %>
		<li><a href="/building-megalopolis">Building Megalopolis</a></li>
	<% } %>

	<% if(active == 'credits'){ %>
		<li class="active">Credits &amp; Team</li>
	<% }else{ %>
		<li><a href="/about/credits">Credits &amp; Team</a></li>
	<% } %>

	<% if(active == 'photos'){ %>
		<li class="active">Exhibition Photos</li>
	<% }else{ %>
		<li><a href="/about/photos">Exhibition Photos</a></li>
	<% } %>
</ul>