<footer id="footer">
	<div id="tape-wrapper">
	    <div id="tape"></div>
    </div>

    <div id="timestrip">
    </div><!-- /#timestrip -->
    <div id="timecursor"><img src="/images/cursor.png"></div>

    <div id="recommend">
    	<div class="asterix">*</div>
    	<div class="text">Add to the timeline</div> 
    </div>

    <div id="filter">
    	<div class="label">Filter:</div>
    	<div class="selection">
    		<ul class="menu">
                <li class="item" filter="all">All</li>
    			<li class="item" filter="book">Books</li>
    			<li class="item" filter="built">Built</li>
    			<li class="item" filter="unbuilt">Unbuilt</li>
    			<li class="item" filter="event">Events</li>
    			<li class="item" filter="plan">Plans</li>
    			<li class="item" filter="policy">Policies</li>
    			<li class="item" filter="quote">Quotes</li>
    			<li class="item" filter="transgenerational">Transgenerational</li>
    			<li class="item" filter="asymmetry">Asymmetry</li>
    			<li class="item" filter="complexity">Complexity</li>
    			<li class="item" filter="migration">Migration</li>
    			<li class="item" filter="generosity">Generosity</li>
    		</ul>
    	</div>
    </div>

	<a id="megalopolis" href="/building-megalopolis">BUILDING<br />MEGALOPOLIS</a>

</footer>





