<header id="header">
	<a href="/hypotheses#transgenerational-description" class="qualities_logos first">
		<span id="transgen"></span>
		<span class="qualities-label-first">Trans-<br />generational</span>
	</a>

	<a href="/hypotheses#asymmetry-description" class="qualities_logos">
		<span id="asymmetry"></span>
		<span class="qualities-label">Asymmetry</span>
	</a>

	<a href="/hypotheses#complexity-description" class="qualities_logos">
		<span id="complexity"></span>
		<span class="qualities-label">Complexity</span>
	</a>

	<a href="/hypotheses#migration-description" class="qualities_logos">
		<span id="migration"></span>
		<span class="qualities-label">Migration</span>
	</a>
	<a href="/hypotheses#generosity-description" class="qualities_logos">
		<span id="generosity"></span>
		<span class="qualities-label-last">Generosity</span>
	</a>
	<a class="about" href="/about">ABOUT</a>
	<a id="home" href="/">EXTREME<br/>CITIES</a>
</header>