<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://fast.fonts.com/jsapi/56ba224e-0b1b-4fd5-ad03-cf56c3db1584.js"></script>
</head>
<body>
	<div id="about"><a href="/about">About</a></div>
	<div id="home">
		<a href="/"><img src="/projects/extreme-cities/public/images/EClogo.png" /></a>
	</div>

	<div id="qualities" class="clearfix">

		<a href="/qualities/transgenerational" class="quality">
			<span id="transgen"></span>
			<span class="label" id="label-transgen">Trans-<br />generational</span>
		</a>
		<div class="quality">
			<span id="asymmetry"></span>
			<span class="label">Asymmetry</span>
		</div>
		<a href="/qualities/complexity" class="quality">
			<span id="complexity"></span>
			<span class="label">Complexity</span>
		</a>
		<a href="/qualities/migration" class="quality">
			<span id="migration"></span>
			<span class="label">Migration</span>
		</a>
		<a href="/qualities/generosity" class="quality">
			<span id="generosity"></span>
			<span class="label">Generosity</span>
		</a>						

	</div>

		
	<div class="trim">
		<div id="tape"> </div>
	</div>

	<div id="description-wrapper">
		<div id="description">
		Cities have always been places of flux and change. They offer new forms of mobility and freedom. Even the smallest city is a dense set of overlapping networks. People, goods, and ideas don’t simply flow in predictable linear patterns. Cities create continuous opportunities for slippages between systems. This diversity and asymmetry of movement creates new connections, new potentials and new efficiencies. Since the very beginning of cities, people flock to them seeking mobility and freedom. In leaving behind the slow speed of village life for the fast-paced city, not only did individuals’ rate of movement increase, the rate at which they encountered new stimuli and change as the result of movement increased. The result was an unprecedented release of human creativity and invention. In the twentieth century, planners sought to absorb increased scales of movement and reduce the negative effects of that mobility by rationalizing it on the basis of symmetric and predictable everyday travel patterns. In this century, travel will become asymmetric, as individuals traverse multiple forms of transportation as they navigate their daily routines. Predictable patterns give way to suites of real time movement options with continuous means to slide from one system to another. Hierarchical patterns of nodes give way to a continuously evolving biodiversity of possible movements. As the nature of work and leisure change, so will how people move about cities, where people move about cities and when they move. Contemporary transport systems are broadly designed to support conventional commuting behaviors, but travelers no longer only move from home to work and back again. Instead, people combine travel modes, times and destinations in spatially asymmetric ways that reflect ongoing changes to the spatial structure and economies of cities. Importantly, cities in the future will not be constrained by a binary choice between private and mass transit, nor even by a choice between movement system and destination. Cities foster new ways to connect with people and commerce within regions and across the globe, from online commerce and telecommuting to shared vehicles. Travelers will be freed of constraints of ownership without sacrificing the utility of use. They will occupy multiple movement systems at any one time and slide unpredictably between them.
		</div>
	</div>


</body>
</html>

<style type="text/css">
html {
}
body {
	background-color: #dcddde;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "URWTypewriterW01-Regula", Courier, monospace;
	font-size: 14px;
	line-height: 17px;
}

#home {
  margin: 25px;
  text-align: right;
}

#about{
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-transform: left;
	float: left;
	margin-left: 30px;
}

#about a{
	color: black;
	text-decoration: none;
}

#about a:hover{
	color: #ff5b00;
}

#qualities{
	height: 155px;
	margin: 50px auto 30px;
	text-align: center;
	width: 980px;
}

.quality{
	float: left;
	width: 150px;
	height: 155px;
	margin: 0 22px;
}

a.quality {
	color: #ff5b00;
	text-decoration: none;
}

a.quality:hover{
	color: black;
}

.label{
	display: block;
	margin-top: -22px;
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
}

#label-transgen{
	text-align: left !important;
	margin-left: 32px;
	margin-top: -45px;
}

#transgen{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#transgen:hover{
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 0;
}

#asymmetry{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 0;
	position: relative;
	z-index: 10px;
}

#complexity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#complexity:hover{
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 0;
}

#migration{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#migration:hover{
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 0;
}

#generosity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#generosity:hover{
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 0;
}

#description-wrapper{
	width: 980px;
	margin: auto;
}

#description{
	margin: 30px auto;
	width: 550px;
}

#coming-soon{
	text-align: right;
	margin-top: 15px;

}

#text-description{
	width: 200px;
	float: left;
	padding-left: 30px;
	margin-top: 25px;
}

#logo {
	text-align: center;
	float: left;
	margin-top: 4px;
}

img{
	max-width: 100%;
}

#tape {
	height: 19px;
	width: 300%;
	background: url(http://postfog.org/workflowtumblr/images/tape.png) repeat-x;
	position: relative;
	left: -100%;
}

.trim {
	overflow: hidden !important;
}

#logos {
	margin-top: 5px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>