<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://fast.fonts.com/jsapi/56ba224e-0b1b-4fd5-ad03-cf56c3db1584.js"></script>
</head>
<body>
	<div id="about"><a href="/about">About</a></div>
	<div id="home">
		<a href="/"><img src="/projects/extreme-cities/public/images/EClogo.png" /></a>
	</div>

	<div id="qualities" class="clearfix">

		<a href="/qualities/transgenerational" class="quality">
			<span id="transgen"></span>
			<span class="label" id="label-transgen">Trans-<br />generational</span>
		</a>
		<a href="/qualities/asymmetry" class="quality">
			<span id="asymmetry"></span>
			<span class="label">Asymmetry</span>
		</a>
		<div class="quality">
			<span id="complexity"></span>
			<span class="label">Complexity</span>
		</div>
		<a href="/qualities/migration" class="quality">
			<span id="migration"></span>
			<span class="label">Migration</span>
		</a>
		<a href="/qualities/generosity" class="quality">
			<span id="generosity"></span>
			<span class="label">Generosity</span>
		</a>						

	</div>

		
	<div class="trim">
		<div id="tape"> </div>
	</div>

	<div id="description-wrapper">
		<div id="description">
		The city is the most complex entity humans have ever created. It is full of individuals in intensely specialized roles, connected to multiple overlapping local systems and supported by massive amounts of collective infrastructure and technology that interact in massively complex ways. This biodiversity and complexity drives the growth that triggers evolution in a relentless feedback loop. Each corner of this unimaginably complex system can trigger transformative and irreversible change. When asked what a city is, architect Louis Kahn said “It is the place where a small boy, as he walks through it, may see something that will tell him what he wants to do his whole life.” Cities are full of people from all walks of life, places in which different classes, ethnicities, and ideas come together. As a measure of a collective intelligence, complexity is a measure of cities. Like cholesterol, there are good and bad forms of complexity in the city. Sociocultural richness, diversity, and open, easily fixable and modifiable forms of technology produce a complexity that allows cities to be more productive and resilient. Rising bureaucracy, incompatible closed technologies, and barriers to entry produce a negative complexity, making cities more vulnerable in an era of growing threats such as extreme climate events, urban warfare, and terrorism. As systems come to rely on systems, cascading failures can occur, producing accidents like the meltdown at Fukushima, the destruction of the Deepwater Horizon, or the Flash Crash, in which a series of weaknesses in related systems creates an event that spirals out of control. Highly complex systems, in other words, are extremely vulnerable to stress. Just as the brain is the organ that is most demanding of energy, complexity demands massive amounts of resources. When civilizations fail to meet these demands, they collapse. When they do, however, their cities are places of the most immense vitality, allowing a diversity of exchange unmatched in human history. Extreme Cities maximize complexity, and foster new forms of complexity.
		</div>
	</div>


</body>
</html>

<style type="text/css">
html {
}
body {
	background-color: #dcddde;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "URWTypewriterW01-Regula", Courier, monospace;
	font-size: 14px;
	line-height: 17px;
}

#home {
  margin: 25px;
  text-align: right;
}

#about{
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-transform: left;
	float: left;
	margin-left: 30px;
}

#about a{
	color: black;
	text-decoration: none;
}

#about a:hover{
	color: #ff5b00;
}

#qualities{
	height: 155px;
	margin: 50px auto 30px;
	text-align: center;
	width: 980px;
}

.quality{
	float: left;
	width: 150px;
	height: 155px;
	margin: 0 22px;
}

a.quality {
	color: #ff5b00;
	text-decoration: none;
}

a.quality:hover{
	color: black;
}

.label{
	display: block;
	margin-top: -22px;
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
}

#label-transgen{
	text-align: left !important;
	margin-left: 32px;
	margin-top: -45px;
}

#transgen{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#transgen:hover{
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 0;
}

#asymmetry{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#asymmetry:hover{
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 0;
}

#complexity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 0;
	position: relative;
	z-index: 10px;
}

#migration{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#migration:hover{
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 0;
}

#generosity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#generosity:hover{
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 0;
}

#description-wrapper{
	width: 980px;
	margin: auto;
}

#description{
	margin: 30px auto;
	width: 550px;
}

#coming-soon{
	text-align: right;
	margin-top: 15px;

}

#text-description{
	width: 200px;
	float: left;
	padding-left: 30px;
	margin-top: 25px;
}

#logo {
	text-align: center;
	float: left;
	margin-top: 4px;
}

img{
	max-width: 100%;
}

#tape {
	height: 19px;
	width: 300%;
	background: url(http://postfog.org/workflowtumblr/images/tape.png) repeat-x;
	position: relative;
	left: -100%;
}

.trim {
	overflow: hidden !important;
}

#logos {
	margin-top: 5px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>