<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://fast.fonts.com/jsapi/56ba224e-0b1b-4fd5-ad03-cf56c3db1584.js"></script>
</head>
<body>
	<div id="about"><a href="/about">About</a></div>
	<div id="home">
		<a href="/"><img src="/projects/extreme-cities/public/images/EClogo.png" /></a>
	</div>

	<div id="qualities" class="clearfix">

		<a href="/qualities/transgenerational" class="quality">
			<span id="transgen"></span>
			<span class="label" id="label-transgen">Trans-<br />generational</span>
		</a>
		<a href="/qualities/asymmetry" class="quality">
			<span id="asymmetry"></span>
			<span class="label">Asymmetry</span>
		</a>
		<a href="/qualities/complexity" class="quality">
			<span id="complexity"></span>
			<span class="label">Complexity</span>
		</a>
		<a href="/qualities/migration" class="quality">
			<span id="migration"></span>
			<span class="label">Migration</span>
		</a>
		<div class="quality">
			<span id="generosity"></span>
			<span class="label">Generosity</span>
		</div>						

	</div>

		
	<div class="trim">
		<div id="tape"> </div>
	</div>

	<div id="description-wrapper">
		<div id="description">
From the start, cities have been places of giving. A key reason that cities grow is because they are environments of generosity. While each city is marked by ways in which it can neglect people, each is also uniquely generous. Part of the extraordinary efficiency and productivity of cosmopolitan density is this often overlooked dimension of unexpected generosity. Each city is full of openings. The city is by definition a place of coexistence, of sharing one’s environment with other people. It has prospered because people interact, and these interactions defy prediction or regulation. Its culture is based on exchange, the transaction of ideas and knowledge that always exceeds the apparent limits. In each dimension of the city there is an unexpected openness, generosity or support that triggers an equally unexpected growth in the city itself. And the city propels itself forward because every act of generosity benefits the giver and receiver. Giving generates capital in the form of knowledge for both the giver and receiver. Unlike financial or political capital, the capital of a gift doesn’t get depleted. Rather it accumulates for both parties. When a giver provides to a recipient, the recipient receives aid, but also knowledge, and the implied invitation to contribute, the invitation to be active in the city. As a model of exchange it illustrates the positive dimension of the city’s ‘transactional capacity,’ demonstrating just how invaluable interaction is culturally and socially. Extreme cities grow stronger by fostering new forms of generosity.
		</div>
	</div>


</body>
</html>

<style type="text/css">
html {
}
body {
	background-color: #dcddde;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "URWTypewriterW01-Regula", Courier, monospace;
	font-size: 14px;
	line-height: 17px;
}

#home {
  margin: 25px;
  text-align: right;
}

#about{
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-transform: left;
	float: left;
	margin-left: 30px;
}

#about a{
	color: black;
	text-decoration: none;
}

#about a:hover{
	color: #ff5b00;
}

#qualities{
	height: 155px;
	margin: 50px auto 30px;
	text-align: center;
	width: 980px;
}

.quality{
	float: left;
	width: 150px;
	height: 155px;
	margin: 0 22px;
}

a.quality {
	color: #ff5b00;
	text-decoration: none;
}

a.quality:hover{
	color: black;
}

.label{
	display: block;
	margin-top: -22px;
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
}

#label-transgen{
	text-align: left !important;
	margin-left: 32px;
	margin-top: -45px;
}

#transgen{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#transgen:hover{
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 0;
}

#asymmetry{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#asymmetry:hover{
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 0;
}

#complexity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#complexity:hover{
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 0;
}

#migration{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#migration:hover{
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 0;
}

#generosity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 0;
	position: relative;
	z-index: 10px;
}

#description-wrapper{
	width: 980px;
	margin: auto;
}

#description{
	margin: 30px auto;
	width: 550px;
}

#coming-soon{
	text-align: right;
	margin-top: 15px;

}

#text-description{
	width: 200px;
	float: left;
	padding-left: 30px;
	margin-top: 25px;
}

#logo {
	text-align: center;
	float: left;
	margin-top: 4px;
}

img{
	max-width: 100%;
}

#tape {
	height: 19px;
	width: 300%;
	background: url(http://postfog.org/workflowtumblr/images/tape.png) repeat-x;
	position: relative;
	left: -100%;
}

.trim {
	overflow: hidden !important;
}

#logos {
	margin-top: 5px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>