<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="http://fast.fonts.com/jsapi/56ba224e-0b1b-4fd5-ad03-cf56c3db1584.js"></script>
</head>
<body>
	<div id="about"><a href="/about">About</a></div>
	<div id="home">
		<a href="/"><img src="/projects/extreme-cities/public/images/EClogo.png" /></a>
	</div>

	<div id="qualities" class="clearfix">

		<a href="/qualities/transgenerational" class="quality">
			<span id="transgen"></span>
			<span class="label" id="label-transgen">Trans-<br />generational</span>
		</a>
		<a href="/qualities/asymmetry" class="quality">
			<span id="asymmetry"></span>
			<span class="label">Asymmetry</span>
		</a>
		<a href="/qualities/complexity" class="quality">
			<span id="complexity"></span>
			<span class="label">Complexity</span>
		</a>
		<div class="quality">
			<span id="migration"></span>
			<span class="label">Migration</span>
		</div>
		<a href="/qualities/generosity" class="quality">
			<span id="generosity"></span>
			<span class="label">Generosity</span>
		</a>						

	</div>

		
	<div class="trim">
		<div id="tape"> </div>
	</div>

	<div id="description-wrapper">
		<div id="description">
		Cities have always been produced by migration. The identity of a city is continually reshaped by the arrival of outsiders, drawn by the possibilities and cosmopolitan densities that define the increasingly global metropolis. In a relentless and dynamic flow, cities are produced by migration and generate migration. Migration is not simply a movement between cities but a structural condition of the city itself. If the 19th and 20th centuries were marked by a vast migration from rural to urban areas, the 21st century will see greater movement from city to city and an acceleration in the flow of people, ideas, and goods across geographical borders. Global itinerancy is on the rise, and the city’s magnetism stems from the simple fact that other people are there too, that it is a place where opportunities and cultures are at their most mobile. Migration originates in both progress and crisis. The dispersal of urban populations in the wake of humanitarian, economic, and environmental catastrophes, and the galvanizing of new urban populations through new opportunities creates a continuous urban flux. In 2010, the UN estimated that some 214 million people were in the process of migrating, the vast majority of them in the developing world. At the same time in the developed world, transnational and transgovernmental structures like the European Union and the IMF have increased the mobility of economic opportunity, while transportation infrastructures have created a new kind of global citizen. In the coming decades, cities will continue to become increasingly diverse through relentless arrivals. Migration will become massive, and will no longer happen only once in a lifetime. It will become a norm for both workers and elites moving between global cities. The complexity of movement between cities will start to resemble the complexity of movement within cities. In the extreme city, whole new concepts of infrastructure will both absorb and foster this relentless and generative movement between cities.
		</div>
	</div>


</body>
</html>

<style type="text/css">
html {
}
body {
	background-color: #dcddde;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: "URWTypewriterW01-Regula", Courier, monospace;
	font-size: 14px;
	line-height: 17px;
}

#home {
  margin: 25px;
  text-align: right;
}

#about{
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-transform: left;
	float: left;
	margin-left: 30px;
}

#about a{
	color: black;
	text-decoration: none;
}

#about a:hover{
	color: #ff5b00;
}

#qualities{
	height: 155px;
	margin: 50px auto 30px;
	text-align: center;
	width: 980px;
}

.quality{
	float: left;
	width: 150px;
	height: 155px;
	margin: 0 22px;
}

a.quality {
	color: #ff5b00;
	text-decoration: none;
}

a.quality:hover{
	color: black;
}

.label{
	display: block;
	margin-top: -22px;
	font-family:"Helvetica W01 Ultra Cm", Helvetica, Arial, sans-serif;
	font-size: 26px;
	line-height: 23px;
	text-transform: uppercase;
	text-align: center;
}

#label-transgen{
	text-align: left !important;
	margin-left: 32px;
	margin-top: -45px;
}

#transgen{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#transgen:hover{
	background:url("/projects/extreme-cities/public/images/transgen_sprite.png")  0 0;
}

#asymmetry{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#asymmetry:hover{
	background:url("/projects/extreme-cities/public/images/asymmetry_sprite.png")  0 0;
}

#complexity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#complexity:hover{
	background:url("/projects/extreme-cities/public/images/complexity_sprite.png")  0 0;
}

#migration{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/migration_sprite.png")  0 0;
	position: relative;
	z-index: 10px;
}

#generosity{
	display: block;
	width: 150px;
	height: 155px;
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 155px;
	position: relative;
	z-index: 10px;
}

#generosity:hover{
	background:url("/projects/extreme-cities/public/images/generosity_sprite.png")  0 0;
}

#description-wrapper{
	width: 980px;
	margin: auto;
}

#description{
	margin: 30px auto;
	width: 550px;
}

#coming-soon{
	text-align: right;
	margin-top: 15px;

}

#text-description{
	width: 200px;
	float: left;
	padding-left: 30px;
	margin-top: 25px;
}

#logo {
	text-align: center;
	float: left;
	margin-top: 4px;
}

img{
	max-width: 100%;
}

#tape {
	height: 19px;
	width: 300%;
	background: url(http://postfog.org/workflowtumblr/images/tape.png) repeat-x;
	position: relative;
	left: -100%;
}

.trim {
	overflow: hidden !important;
}

#logos {
	margin-top: 5px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>