<!DOCTYPE html>
<html>
	<head>
		<%- partial('../partials/head', {title:title}) %>
	</head>
	<body class="static-pages">
		<div id="wrapper">  
			<%- partial('../partials/header') %>
			<div id="description-wrapper">
				<div id="description-title">Transgenerational</div>
				<div id="description">
					The city always gathers together a wide bandwidth of people of all generations. Because of its adaptive social and physical infrastructures, it can care for people far beyond the extended family network of rural settings. As public health experts note, it is because of the city itself that people live longer lives. Improved living conditions, access to health services and education, and ease of mobility enable older citizens to thrive in the city. As life expectancy steadily grows in all parts of the world through medical advances and preventative care, the age bandwidth of cities dramatically increases. The traditional urban strength of overlapping generations will likewise expand exponentially. In the not too distant future, there will be many more people of older generations living in the metropolis. By 2050, 2 billion people over the age of 60 will be living in cities. Extreme Cities take advantage of this increase in transgenerational capacity. The model of childhood followed by education then work then retirement will give way to new synergies between generations, and a blurring of education, work and leisure. New urban formations will encourage these synergies and maximize their effects. As people grow older and less resilient to the stimuli around them, they become more reliant on their immediate physical environment for assistance. The extreme sensitivity of the very young and the very old to environmental conditions can be turned into a major urban asset. In fact, many health organizations, most notably WHO, feel the best response is to enrich the urban realm. They believe to create an environment that is age-friendly (navigation, mobility, and other aging-in-place services) is the single most effective policy means to address this demographic shift. Just how will the city transform to accommodate the wider range of age of its inhabitants and maximize their shared potentials?
				</div>
			</div>
		</div>
		<%- partial('../partials/scripts') %>
	</body>
</html>
