<!DOCTYPE html>
<html>
<head>		
		<%- partial('../partials/head', {title:title}) %>
</head>
	<body class="static-pages">
	<div id="wrapper">  
		<%- partial('../partials/header') %>

	<div id="description-wrapper">
		<%- partial('../partials/aboutmenu', { active: 'credits'}) %>

		<div id="description">
			<div id="credits-left">
				<a class="link" target="_blank" href="http://www.arch.columbia.edu/">Columbia University GSAPP</a> Extreme Cities Project in association with the <a class="link" target="_blank" href="http://audi-urban-future-initiative.com/">Audi Urban Future Initiative curated by Stylepark</a><br />
				<div id="logos"><img src="http://postfog.org/workflowtumblr/images/audi_gsapp_logos.png" /></div>
				<br />
				Mark Wigley, Dean <br />
				Columbia University GSAPP<br />
				<br />
				Jeffrey Inaba <br />
				Director, C-Lab <br />
				Columbia University GSAPP<br />
				<br />
				David King <br />
				Assistant Professor, <br />
				Urban Planning <br />
				Columbia University GSAPP<br />
				<br />
				Kazys Varnelis <br />
				Director, Netlab <br />
				Columbia University GSAPP
			</div>
			<div id="credits-right">
				<u>Project Coordinator</u><br/>
				James Graham<br/>
				<br/>
				<u>C-Lab Coordinator</u><br />
				Benedict Clouette<br/>
				<br/>
				<u>Architecture Online Lab</u><br/>
				Leigha Dennis, Troy Conrad Therrien<br/>
				<br/>
				<u>Exhibition Designer</u><br/>
				Neil Donnelly<br/>
				<br/>
				<u>Design Assistant</u><br/>
				Lauren Francescone<br/>
				<br/>
				<u>Studio-X</u><br/>
				Geoff Manaugh, Nicola Twilley, Carlos Solis<br/>
				<br/>
				<u>Neighborhoods Team</u><br/>
				Jeffrey Inaba, Benedict Clouette, Jilian Crandall, Aditya Ghosh, Chris Giamarino, Corinne Quin, Frédéric Schnee<br/>
				<br/>
				<u>Building Megalopolis Team</u><br/>
				David King, Kazys Varnelis, James Graham, Leigha Dennis, Gregory Barton, Caitlin Blanchfield<br/>
				<br/>
				<u>Video Team</u>
				Max Lauter, Elis Mendoza<br/>
				<br/>
				<u>Table Fabricator</u><br/>
				Nathan Carter<br/>
				<br/>
				<u>Participating Graduate Students in Architecture and Urban Planning, GSAPP</u><br/>
				Jawaher Al Sudairy, Natasha Amladi, Jordan Anderson, Cassandra Ballew, Roger Lingjun Bu, Allison Carafa, Jose Luis Cruz, Dichen Ding, Richard Angus Duff, Benjamin Engle, Orrin Evans, Emily Gordon, Leah Guszkowski, Jonas Hagen, Emily Grace Heard, Sarah Hussaini, Cindy Hwang, Jonathan Internicola, Edward Kent, Della Krantz, Thomas Lampert, Kevin Le, Samantha Leung, Ying Li, Alison Lugrin, Alley Lyles, Luke McGeehan, Madeeha Merchant, Matthew Miller, Vahan Misakyan, Trent Oatman, Danielle Petretta, Max Podemski, Natalie Quinn, Tiffany Rattray, Elisabeth Robertson, Lucy Elizabeth Robson, Daleen Saah, David Seo, Stephanie Shellooe, Tianhui Shen, Ebberly Strathairn, Rajlaxmi Teli, Marlon Torres, Steven Sanwen Tsai, Ruth Wang, John Woodard, Nannan Xu, Hanxiao Yang, Bless Yee, JiYuen Yu, Rong Zhao, Linghong Zou<br />
			</div>
		</div>
	</div>
	</div>
	<%- partial('../partials/scripts') %>
</body>
</html>

