<!DOCTYPE html>
<html>
	<head>		
		<%- partial('partials/head', {title:title}) %>
	</head>
	<body class="static-pages">

		<div id="wrapper">  
			<%- partial('partials/header') %>

			<div id="description-wrapper">
				<%- partial('partials/aboutmenu', { active: 'about'}) %>

				<div id="description-title">Extreme Cities</div>
				<div id="description">
					<a class="link" target="_blank" href="http://www.arch.columbia.edu/">Columbia University GSAPP</a> Extreme Cities Project in association with the <a class="link" target="_blank" href="http://audi-urban-future-initiative.com/">Audi Urban Future Initiative curated by Stylepark</a><br />
					<br />

					The Extreme Cities project starts from our observation that the “future” has often been focused on the near term. As data sets get bigger and analytical tools more sophisticated, temporal horizons for analysis and planning seem to be getting narrower. As investors make profits in trades measured in milliseconds and politicians react to micro-adjustments in opinions of constituents, long-term thinking gives way to increasingly short-term fluctuations. The future collapses into the present. Too many of our disciplines and industries have lost the ability to think beyond the current cycle, or even beyond the latest phase of a cycle. But the key questions facing us, the shared questions, require us to go beyond contemporary paradigms.<br/>
					<br />

					Instead of seeking to maximize advantage in the present-tense environment of our own lives, we intend to think instead about our legacy: the future of our grandchildren, inscribed in the forms and processes of urbanity. Extreme Cities suggests a new leadership model in which we set out to investigate the cities of a half-century from now instead of simply projecting the concerns of our current timeframe into the future. We identify the key urban strengths of cities to imagine what they could be in fifty years. Rather than reactive, ours is a proactive model, seeking to maximize these assets. The Extreme Cities project engages with thought leaders in industry, business, university, government, and culture to identify these key drivers and to explore the consequences of maximizing them in the future.<br />
					<br />

					In the first year of the Columbia Extreme Cities Project, we have initially identified <a class="link" href="/hypotheses">five key strengths of cities</a> to investigate and take to the extreme. We treat these as the very principles of urban aggregation, the catalysts through which cities originate and evolve, and together they illustrate what makes the city such a remark- able human creation. These urban drivers of evolution in thought, culture, economy, and technology can be found throughout the history of cities but the forms they will take in the coming fifty years will be far more radical than the simple amplification of the present trends in urbanization. As the project develops, this set of five drivers of the Extreme City will be steadily expanded to capture why cities have always been such an extraordinary asset and why they will assume such extraordinary forms in the future.<br />
					<br />
					<div id="logos"><img src="http://postfog.org/workflowtumblr/images/audi_gsapp_logos.png" /></div>
				</div>
			</div>

		</div>
		<%- partial('partials/scripts') %>
	</body>
</html>
