<!DOCTYPE html>
<html>
	<head>
		<%- partial('partials/head', {title:title}) %>
	</head>
	<body class="static-pages">
		<div id="wrapper">  
			<%- partial('partials/header') %>
			<div id="description-wrapper">
				<%- partial('partials/aboutmenu', { active: 'building-megalopolis'}) %>

				<div id="description-title">Building Megalopolis</div>
				<div id="description">
					Building Megalopolis, as one project of Extreme Cities, was a 4 week workshop and exhibition located at Columbia University GSAPP's Studio-X New York from May 1—30, 2013. <br />
					<br />
					With a population of more than 50 million people, the urban corridor between Boston and Washington is one of the world’s largest continuous metropolitan areas. Populated at a density of more than ten times the national average, it is home to roughly one in five Americans. It is the original “megalopolis,” the term having entered common use through French geographer Jean Gottmann’s 1961 book <u>Megalopolis: The Urbanized Northeastern Seaboard of the United States</u>. Gottmann called it a “supercity,” an extensive urbanized area of concentrated population connecting multiple urban centers. Later, the term BosWash was coined by futurist Herman Kahn in his 1967 book <u>The Year 2000: A Framework for Speculation on the Next Thirty-Three Years</u>, in which he predicted that by the end of the millennium, the US would have three enormous metropolitan areas: BosWash, ChiPitts (Chicago- Pittsburgh), and SanSan (San Francisco-San Diego). In the end, only BosWash materialized, but Kahn’s contribution was to forever link the idea of the northeast megalopolis with predictions about the future of cities. <br />
					<br />
					Since Gottmann’s book, the BosWash corridor has occupied an outsized place in architectural discourse, both as a site for speculation and as a generator of new typologies of buildings. From visionary megastructural schemes that rethought how infrastructure, housing, and culture might be interlinked, to subtler refinements of familiar building programs as the demands of the megalopolis exerted pressure on its architecture, the Extreme Cities team has been collecting a suite of projects that trace the impact of Megalopolis on how we understand the urbanism of the past fifty years—and how we might think another fifty years into the future. By mapping these visions for the region, Building Megalopolis exposes moments when predictions and realities aligned and when they diverged, as a way of pointing to alternative histories of the BosWash corridor.<br />
					<br />

					Three threads run through the timeline’s material. The first is a collection of projects that posited new possibilities for regional urbanization and attempted to predict what forms the city might take in the long term, as they adapted to new social and infrastructural imperatives. Although unbuilt, these large-scale futures, have been central in shaping a megalopolitan imagination that still inflects contemporary practice. The second thread is a collection of urban qualities that are manifest in the built architecture of the megalopolis, offering a fresh reading of the architectural history of the past fifty years. Finally, the third thread is a close look at the policies, plans, and legislation, undertaken at governmental levels, that defined the terms by which megalopolis was constructed. Taken together, they offer a composite picture of how the discipline of architecture has responded to
					the increasingly complex and interlinked region of cities known as BosWash.
				</div>
			</div>
		</div>
		<%- partial('partials/scripts') %>
	</body>
</html>
