<!DOCTYPE html>
<html>
	<head>
		<%- partial('partials/head', {title:title}) %>
	</head>
	<body class="static-pages">
		<div id="wrapper">  
			<%- partial('partials/header') %>
			<div id="description-wrapper">
				<%- partial('partials/aboutmenu', { active: 'hypotheses'}) %>

				<div class="hypotheses-description" id="transgenerosity-description">
					<div class="icon"><img src="/images/transgen_icon.png" /></div>
					<div id="description-title">Transgenerational</div>
					<div id="description">
						<div>
							The city always gathers together a wide bandwidth of people of all generations. Because of its adaptive social and physical infrastructures, it can care for people far beyond the extended family network of rural settings. As public health experts note, it is because of the city itself that people live longer lives. Improved living conditions, access to health services and education, and ease of mobility enable older citizens to thrive in the city. As life expectancy steadily grows in all parts of the world through medical advances and preventative care, the age bandwidth of cities dramatically increases. The traditional urban strength of overlapping generations will likewise expand exponentially. In the not too distant future, there will be many more people of older generations living in the metropolis. By 2050, 2 billion people over the age of 60 will be living in cities. Extreme Cities take advantage of this increase in transgenerational capacity. The model of childhood followed by education then work then retirement will give way to new synergies between generations, and a blurring of education, work and leisure. New urban formations will encourage these synergies and maximize their effects. As people grow older and less resilient to the stimuli around them, they become more reliant on their immediate physical environment for assistance. The extreme sensitivity of the very young and the very old to environmental conditions can be turned into a major urban asset. In fact, many health organizations, most notably WHO, feel the best response is to enrich the urban realm. They believe to create an environment that is age-friendly (navigation, mobility, and other aging-in-place services) is the single most effective policy means to address this demographic shift. Just how will the city transform to accommodate the wider range of age of its inhabitants and maximize their shared potentials?
						</div>
					</div>
				</div>
				<div class="hypotheses-description" id="asymmetry-description">
					<div class="icon"><img src="/images/asymmetry_icon.png" /></div>
					<div id="description-title">Asymmetry</div>
					<div id="description">
						<div>
							Cities have always been places of flux and change. They offer new forms of mobility and freedom. Even the smallest city is a dense set of overlapping networks. People, goods, and ideas don’t simply flow in predictable linear patterns. Cities create continuous opportunities for slippages between systems. This diversity and asymmetry of movement creates new connections, new potentials and new efficiencies. Since the very beginning of cities, people flock to them seeking mobility and freedom. In leaving behind the slow speed of village life for the fast-paced city, not only did individuals’ rate of movement increase, the rate at which they encountered new stimuli and change as the result of movement increased. The result was an unprecedented release of human creativity and invention. In the twentieth century, planners sought to absorb increased scales of movement and reduce the negative effects of that mobility by rationalizing it on the basis of symmetric and predictable everyday travel patterns. In this century, travel will become asymmetric, as individuals traverse multiple forms of transportation as they navigate their daily routines. Predictable patterns give way to suites of real time movement options with continuous means to slide from one system to another. Hierarchical patterns of nodes give way to a continuously evolving biodiversity of possible movements. As the nature of work and leisure change, so will how people move about cities, where people move about cities and when they move. Contemporary transport systems are broadly designed to support conventional commuting behaviors, but travelers no longer only move from home to work and back again. Instead, people combine travel modes, times and destinations in spatially asymmetric ways that reflect ongoing changes to the spatial structure and economies of cities. Importantly, cities in the future will not be constrained by a binary choice between private and mass transit, nor even by a choice between movement system and destination. Cities foster new ways to connect with people and commerce within regions and across the globe, from online commerce and telecommuting to shared vehicles. Travelers will be freed of constraints of ownership without sacrificing the utility of use. They will occupy multiple movement systems at any one time and slide unpredictably between them.
						</div>
					</div>
				</div>
				<div class="hypotheses-description" id="complexity-description">
					<div class="icon"><img src="/images/complexity_icon.png" /></div>
					<div id="description-title">Complexity</div>
					<div id="description">
						<div>
							The city is the most complex entity humans have ever created. It is full of individuals in intensely specialized roles, connected to multiple overlapping local systems and supported by massive amounts of collective infrastructure and technology that interact in massively complex ways. This biodiversity and complexity drives the growth that triggers evolution in a relentless feedback loop. Each corner of this unimaginably complex system can trigger transformative and irreversible change. When asked what a city is, architect Louis Kahn said “It is the place where a small boy, as he walks through it, may see something that will tell him what he wants to do his whole life.” Cities are full of people from all walks of life, places in which different classes, ethnicities, and ideas come together. As a measure of a collective intelligence, complexity is a measure of cities. Like cholesterol, there are good and bad forms of complexity in the city. Sociocultural richness, diversity, and open, easily fixable and modifiable forms of technology produce a complexity that allows cities to be more productive and resilient. Rising bureaucracy, incompatible closed technologies, and barriers to entry produce a negative complexity, making cities more vulnerable in an era of growing threats such as extreme climate events, urban warfare, and terrorism. As systems come to rely on systems, cascading failures can occur, producing accidents like the meltdown at Fukushima, the destruction of the Deepwater Horizon, or the Flash Crash, in which a series of weaknesses in related systems creates an event that spirals out of control. Highly complex systems, in other words, are extremely vulnerable to stress. Just as the brain is the organ that is most demanding of energy, complexity demands massive amounts of resources. When civilizations fail to meet these demands, they collapse. When they do, however, their cities are places of the most immense vitality, allowing a diversity of exchange unmatched in human history. Extreme Cities maximize complexity, and foster new forms of complexity.
						</div>
					</div>
				</div>
				<div class="hypotheses-description" id="migration-description">
					<div class="icon"><img src="/images/migration_icon.png" /></div>
					<div id="description-title">Migration</div>
					<div id="description">
						<div>
							Cities have always been produced by migration. The identity of a city is continually reshaped by the arrival of outsiders, drawn by the possibilities and cosmopolitan densities that define the increasingly global metropolis. In a relentless and dynamic flow, cities are produced by migration and generate migration. Migration is not simply a movement between cities but a structural condition of the city itself. If the 19th and 20th centuries were marked by a vast migration from rural to urban areas, the 21st century will see greater movement from city to city and an acceleration in the flow of people, ideas, and goods across geographical borders. Global itinerancy is on the rise, and the city’s magnetism stems from the simple fact that other people are there too, that it is a place where opportunities and cultures are at their most mobile. Migration originates in both progress and crisis. The dispersal of urban populations in the wake of humanitarian, economic, and environmental catastrophes, and the galvanizing of new urban populations through new opportunities creates a continuous urban flux. In 2010, the UN estimated that some 214 million people were in the process of migrating, the vast majority of them in the developing world. At the same time in the developed world, transnational and transgovernmental structures like the European Union and the IMF have increased the mobility of economic opportunity, while transportation infrastructures have created a new kind of global citizen. In the coming decades, cities will continue to become increasingly diverse through relentless arrivals. Migration will become massive, and will no longer happen only once in a lifetime. It will become a norm for both workers and elites moving between global cities. The complexity of movement between cities will start to resemble the complexity of movement within cities. In the extreme city, whole new concepts of infrastructure will both absorb and foster this relentless and generative movement between cities.
						</div>
					</div>
				</div>
				<div class="hypotheses-description" id="generosity-description">
					<div class="icon"><img src="/images/generosity_icon.png" /></div>
					<div id="description-title">Generosity</div>
					<div id="description">
						<div>
							From the start, cities have been places of giving. A key reason that cities grow is because they are environments of generosity. While each city is marked by ways in which it can neglect people, each is also uniquely generous. Part of the extraordinary efficiency and productivity of cosmopolitan density is this often overlooked dimension of unexpected generosity. Each city is full of openings. The city is by definition a place of coexistence, of sharing one’s environment with other people. It has prospered because people interact, and these interactions defy prediction or regulation. Its culture is based on exchange, the transaction of ideas and knowledge that always exceeds the apparent limits. In each dimension of the city there is an unexpected openness, generosity or support that triggers an equally unexpected growth in the city itself. And the city propels itself forward because every act of generosity benefits the giver and receiver. Giving generates capital in the form of knowledge for both the giver and receiver. Unlike financial or political capital, the capital of a gift doesn’t get depleted. Rather it accumulates for both parties. When a giver provides to a recipient, the recipient receives aid, but also knowledge, and the implied invitation to contribute, the invitation to be active in the city. As a model of exchange it illustrates the positive dimension of the city’s ‘transactional capacity,’ demonstrating just how invaluable interaction is culturally and socially. Extreme cities grow stronger by fostering new forms of generosity.
						</div>
					</div>
				</div>

			</div>
		</div>
		<%- partial('partials/scripts') %>
	</body>
</html>
