<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" media="all" href="http://www.extreme-cities.gsapp.org/public/stylesheets/style.css">
<script type="text/javascript" src="http://fast.fonts.com/jsapi/56ba224e-0b1b-4fd5-ad03-cf56c3db1584.js"></script>
</head>
<body>
<div id="above" class="clearfix">
	<div id="logo"> <img src="http://postfog.org/workflowtumblr/images/EClogo.png" /></div>
	<div id="text-above">
	Website Coming Soon!<br />
	<br /> &nbsp;<br/>
	May 1 - May 30, 2013 <br />
	Studio-X New York<br />
	180 Varick St., Suite 1610<br />
	New York, NY 10014<br />
	</div>
	</div>
<div class="trim">
	<div id="tape"> </div>
</div>
<div id="below">
	<div id="text-below">
	Columbia University GSAPP<br />
	Extreme Cities Project<br />
	in association with the <br />
	Audi Urban Future Initiative<br />
	curated by Stylepark<br />
	<div id="logos"><img src="http://postfog.org/workflowtumblr/images/audi_gsapp_logos.png" /></div>
	</div>
	</div>

</div>


</body>
</html>

<style type="text/css">
html {
}
body {
	background-color: #dcddde;
	width: 100%;
	height: 100%;
	margin: 0;
}

#above {
	margin: 5.5em auto 25px;
	width: 800px;
	padding-left: 50px;
}

#below {
	margin: auto;
	width: 800px;
	padding-left: 50px;
}

#logo {
	text-align: center;
}

#logo img{
	float: left;
}

img{
	max-width: 100%;
}

#tape {
	height: 19px;
	width: 300%;
	background: url(http://postfog.org/workflowtumblr/images/tape.png) repeat-x;
	position: relative;
	left: -100%;
}

.trim {
	overflow: hidden !important;
}

#text-above{
	font-family: "URWTypewriterW01-Regula", Courier, monospace;
	font-size: 14px;
	line-height: 17px;
	width: 300px;
	float: left;
	padding-left: 50px;
	padding-top: 122px;
}
#text-below{
	font-family: "URWTypewriterW01-Regula", Courier, monospace;
	font-size: 14px;
	line-height: 17px;
	width: 300px;
	float: left;
	padding-left: 411px;
	margin-top: 25px;
}

#logos {
	margin-top: 5px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
</style>